{% extends 'admin/base.html.twig' %}

{% block title %}New Hospital{% endblock %}

{% block body %}
    <h1>Create new Hospital</h1>
    {{ include('admin/hospital/_form.html.twig') }}
{% endblock %}
